<html>
  <head>
    <title>Expense Tracker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <form>
            <div class="form-group">
              <label for="txtNote">Note</label>
              <input type="text" class="form-control" id="txtNote" name="note" placeholder="Enter input/expense note" value='<%= tracker.note %>'>
            </div>
            <label>Type</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="type" id="rboInput" value="input" <%if(tracker.type == 'input'){%><%="checked"%><%}%>>
              <label class="form-check-label" for="rboInput">Input</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="type" id="rboExpense" value="expense"  <%if(tracker.type == 'expense'){%><%="checked"%><%}%>>
              <label class="form-check-label" for="rboExpense">Expense</label>
            </div>
            <div class="form-group">
              <label for="ddlCategory">Category</label>
              <select class="form-control" id="ddlCategory" name="category">
                <option value="jajan" <%if(tracker.category == 'jajan'){%><%="selected"%><%}%>>Jajan</option>
                <option value="makan" <%if(tracker.category == 'makan'){%><%="selected"%><%}%>>Makan</option>
                <option value="bulanan" <%if(tracker.category == 'bulanan'){%><%="selected"%><%}%>>Belanja bulanan</option>
                <option value="ngupi" <%if(tracker.category == 'ngupi'){%><%="selected"%><%}%>>Ngupi</option>
                <option value="lainnya" <%if(tracker.category == 'lainnya'){%><%="selected"%><%}%>>Lainnya</option>
              </select>
            </div>
            <div class="form-group">
              <label for="txtTotal">Total</label>
              <input type="number" class="form-control" id="txtTotal" name="total" placeholder="Enter total input/expense" value='<%= tracker.total %>'>
            </div>
            <button class="btn btn-danger btnCancel" onclick="fnCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary btnSave" onclick="fnSave('<%= tracker.id %>')">Save</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      function fnCancel() {
        event.preventDefault();
        window.location.replace('/');
      }

      function fnSave(id){
        event.preventDefault();
        $.ajax({
          url: `/tracker/${id}`,
          type: 'PUT',
          data: {
            'note': $('#txtNote').val(),
            'type' : $("input[name='type']:checked").val(),
            'category': $('#ddlCategory').val(),
            'total': $('#txtTotal').val()
          },
          success: function(result) {
            alert(`Update ${result.note} successfull`);
            window.location.replace('/');
          }
        })
      }
    </script>
  </body>
</html>